# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# Django
*.log
db.sqlite3
media/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Node
node_modules/
